/*header in cssi*/
body{
    font-family: 'Poppins', sans-serif;
    height: 2500px;
}
.container-up{
    width: 1260px;
    margin: 0 auto;
    padding: 0px;
}
.contact-items{
    @include flex;
    @include justify-content-between;
    padding: 15px 0;
}
.contact-items-left{
    @include flex;
}
.contact-items-social ul{
    @include flex;
}
.contact-item-mail{
    @include flex;
    margin-right: 50px;
}
.contact-item-mail span{
    margin-left: 10px;
}
.social-facebook a ,.social-twitter a {
    margin-right: 20px;
}
/* menu hissesi*/
.clinic-navmenu{
    @include justify-content-between;
    @include flex;
    border-top: 1px solid lightblue;
    padding: 30px 0px;
}
.clinic-menu{
    @include flex;
}
.logo{
    margin-right: 20px;
}
.navmenu-item{
    padding: 0px 5px;
}
.logo img{
    max-height: 40px;
}
.navmenu-item{
    @extend .clinic-book;
    margin-left: 40px;
    color: #024B6C;
    @include ft-weight($ftc-weight)
}
.navmenu-item a{
    @include a-decoration-none;
}
.clinic-book{
    @include flex;
    @include align-items-center;
}
.clinic-btn a{
     @include a-decoration-none;
     @include bg-face-color($bgc-color,$facec-color);
     @include  bottom-spacing($padding-sm,$padding-md);
     @include ft-weight($ftc-weight);
     @include ft-size;
}

.clinic-slider {
    @include relative;
}
.container-down{
    @include flex;
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
}

.slider-header-text-ust{
    @include ft-weight($ftc-weight);
    font-size: 40px;
    line-height: 1.2;
}
.slider-header-text-alt{
    font-size: 40px;
}

.slider-text{
    font-size: 12px;
    line-height: 1.5;
    padding:20px 0px;
}
.slider-button{
    padding: 10px 0px;
}
.slider-button a{
    @include a-decoration-none;
     @include bg-face-color($bgc-color,$facec-color);
     @include  bottom-spacing($padding-sm,$padding-lg);
    font-weight: bold;
    font-size: 14px;
}
#clinic-form{
    padding: 70px 0px;
}
.slider-form-one{
    background-color: #336F8A;
   border-right: 1px solid white;
   padding-bottom: 25px;
    width: 65%;
}
.slider-from-two{
    padding-bottom: 25px;
    background-color: #336F8A;
    width: 35%;
}

.slider-form-header{
    padding: 20px 0;
    @include  wh-color;
    @include ft-weight($ftc-weight);
    @include ft-size;
}
.slider-form-input{
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
}
.slider-form-left{
    width: 100%;
    padding: 45px;
}
.slider-form-right{
    width: 100%;
    padding: 45px;
}
.slider-input{
    padding: 20px 25px;
    width: 100%;
}

.slider-form-message{
    width: 100%;
    padding-right:25px;
    margin-top: 20px;  
}
.slider-textarea{
    height: 180px;
    padding: 15px 25px;
    width: 100%;
}
.slider-from-btn{
    margin-top: 40px;
}
.slider-from-btn a{
    @include a-decoration-none;
    @include bg-face-color($bgc-color,$facec-color);
    @include  bottom-spacing($padding-md,$padding-lg);
    @include ft-weight($ftc-weight);
    @include ft-size;
}
.slider-form-texts{
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
}
.slider-from-country h3{
    @include  wh-color;
    @include ft-weight($ftc-weight);
    font-size: 20px;
}
.slider-from-country span{
    @include  wh-color;
    font-size: 20px;
}
.slider-from-address p{
    margin: 20px 0px;
    @include  wh-color;
    font-size: 16px;
}
.slider-from-mail  span{
    @include  wh-color;
    @include ft-weight($ftc-weight);
    font-size: 14px;
    margin: 30px 0px;
}
.slider-from-mail  p{
    @include  wh-color;
    font-size: 16px;
    margin: 30px 0px;
}
.slider-from-date span{
    @include  wh-color;
    @include ft-weight($ftc-weight);
    font-size: 14px;
}
.slider-from-date p{
    @include  wh-color;
    font-size: 14px;
}
.slider-from-call{
    top:140px;
} 
.slider-from-call span{
    @include  wh-color;
    @include ft-weight($ftc-weight);
font-size: 14px;
}
.slider-from-call p{
    @include  wh-color;
    @include ft-weight($ftc-weight);
    font-size: 20px;
     margin-top: 30px;
}







